@import "tailwindcss";

@theme {
    /* Custom colors */
    --color-alabaster: #f2f4eb;
    --color-outer-space: #2a414b;
    --color-midnight: #01152c;
    --color-merino: #f9f5eb;
    --color-champagne: #ece1c9;
    --color-steel: #4f778b;
    --color-peach-puff: #ffe7b9;
    --color-carnation: #ea5455;
    --color-steel-blue: #4f778b;
  
    /* Fonts - tokens used by Tailwind classes */
    --font-sans: var(--f-satoshi), system-ui, sans-serif;  /* Tailwind default alias */
    --font-satoshi: var(--f-satoshi), system-ui, sans-serif; /* use with class: font-sans */
    --font-fraunces: var(--f-fraunces), ui-serif, Georgia, serif; /* use with class: font-fraunces */
  }

  .elfsight-app-3fe1624d-4cd9-42cf-8aff-8bf26ffcd1c7:not(:empty) + #reviews-fallback {
    display: none;
  }
